$ff-primary: serif;
$ff-secondary: sans-serif;
$color: #222;
$bGround: #d8d8d8;

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	font-family: $ff-secondary;
	background: $bGround;
	color: $color;
	line-height: 1.5;

	img {
		display: block;
		width: 100%;
		max-width: 400px;
	}
	h1 {
		font-family: $ff-primary;
	}
	.section {
    height: 70vh;
    border-bottom: 1px solid #bbbbbb;

		.header {
			height: 10vh;

			.nav {
				width: max-content;
				line-height: 10vh;
				margin: 0 auto;
			}
			.links {
				display: flex;

				li {
					margin: 1rem 2rem;
				}
			}
		}
		.title {
			height: 60vh;
			text-align: center;
			display: grid;
			place-items: center;
		}
		.center {
			display: flex;
			width: 95vw;
			height: 100%;
			margin: auto;

			.left-container {
				display: flex;
				align-items: center;
				margin: auto;
        padding: 0.5rem;
        opacity: 0;

				&.ani-mation {
					animation: enteringLeft 3s linear forwards;
				}
			}
			.right-container {
				display: flex;
				align-items: center;
				margin: auto;
        padding: 0.5rem;
        opacity: 0;

				&.ani-mation {
          animation: enteringRight 1.2s linear 1.8s forwards;
				}
			}
		}
		.footer {
			height: 10vh;
			width: max-content;
			line-height: 10vh;
			margin: 0 auto;
		}
	}
}

@keyframes enteringLeft {
	from {
		transform: translateX(-300px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes enteringRight {
	from {
		transform: translateX(300px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}
