$ff-primary: serif;
$ff-secondary: sans-serif;
$color: #222;
$bGround: #eaf8de;

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	font-family: $ff-secondary;
	background: $bGround;
	color: $color;

	img {
		display: block;
		width: 100%;
		max-width: 400px;
	}
	h1 {
		font-family: $ff-primary;
	}
	.section {
		height: 70vh;
		border-bottom: 1px solid #bbbbbb;

		.header {
			height: 10vh;

			.nav {
				width: max-content;
				line-height: 10vh;
				margin: 0 auto;
			}
			.links {
				display: flex;

				li {
					margin: 1rem 2rem;
				}
			}
		}
		.title {
			height: 60vh;
			text-align: center;
			display: grid;
			place-items: center;
		}
		.center {
			display: flex;
			flex-direction: column;
			width: 95vw;
			height: 100%;
			margin: auto;

			.left-container {
				margin: auto;
				// margin-right: 5px;
				opacity: 0;

				&.ani-mation {
					animation: enteringLeft 3s linear forwards;
				}
			}
			.right-container {
				font-size: 180%;
				text-align: center;
				margin: auto;
				// margin-left: 5px;
				opacity: 0;

				&.ani-mation {
					animation: enteringRight 1.2s linear 1.2s forwards;
				}
			}
		}
	}
	.section-end {
		height: 50vh;

		.title {
			height: 40vh;
			text-align: center;
			display: grid;
			place-items: center;
		}
		.footer {
			height: max-content;
			width: fit-content;
			text-align: center;
			margin: 0 auto;
		}
	}
}

@keyframes enteringLeft {
	from {
		// transform: translateX(-300px);
		opacity: 0;
	}
	to {
		// transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes enteringRight {
	from {
		transform: translateX(300px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}
